In [27]:
import pandas as pd
import numpy as np

team_file = "~/src/baseball-lahman/baseballdatabank-master/core/teams.csv"

tf = pd.read_csv(team_file)
tf

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,1871,NaN,BS1,BNA,NaN,3,31,NaN,20,10,...,24,0.834,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NaN,CH1,CNA,NaN,2,28,NaN,19,9,...,16,0.829,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NaN,CL1,CFC,NaN,8,29,NaN,10,19,...,15,0.818,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871,NaN,FW1,KEK,NaN,7,19,NaN,7,12,...,8,0.803,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871,NaN,NY2,NNA,NaN,5,33,NaN,16,17,...,14,0.840,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,2019,NL,SLN,STL,C,1,162,81.0,91,71,...,168,0.989,St. Louis Cardinals,Busch Stadium III,3480393.0,98,97,STL,SLN,SLN
2921,2019,AL,TBA,TBD,E,2,162,81.0,96,66,...,126,0.985,Tampa Bay Rays,Tropicana Field,1178735.0,97,96,TBR,TBA,TBA
2922,2019,AL,TEX,TEX,W,3,162,81.0,78,84,...,143,0.982,Texas Rangers,Globe Life Park in Arlington,2132994.0,111,112,TEX,TEX,TEX
2923,2019,AL,TOR,TOR,E,4,162,81.0,67,95,...,141,0.984,Toronto Blue Jays,Rogers Centre,1750114.0,97,98,TOR,TOR,TOR
2924,2019,NL,WAS,WSN,E,2,162,81.0,93,69,...,111,0.985,Washington Nationals,Nationals Park,2259781.0,106,104,WSN,MON,WAS

In [5]:
tf.yearID

0       1871
1       1871
2       1871
3       1871
4       1871
        ...
2920    2019
2921    2019
2922    2019
2923    2019
2924    2019
Name: yearID, Length: 2925, dtype: int64

In [6]:
tf['yearID']

0       1871
1       1871
2       1871
3       1871
4       1871
        ...
2920    2019
2921    2019
2922    2019
2923    2019
2924    2019
Name: yearID, Length: 2925, dtype: int64

In [7]:
tf70 = tf[tf['yearID'] >= 1970]
tf70

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
1541,1970,NL,ATL,ATL,W,5,162,81.0,76,86,...,118,0.977,Atlanta Braves,Atlanta-Fulton County Stadium,1078848.0,106,106,ATL,ATL,ATL
1542,1970,AL,BAL,BAL,E,1,162,81.0,108,54,...,148,0.981,Baltimore Orioles,Memorial Stadium,1057069.0,101,98,BAL,BAL,BAL
1543,1970,AL,BOS,BOS,E,3,162,81.0,87,75,...,131,0.974,Boston Red Sox,Fenway Park II,1595278.0,108,107,BOS,BOS,BOS
1544,1970,AL,CAL,ANA,W,3,162,81.0,86,76,...,169,0.980,California Angels,Anaheim Stadium,1077741.0,96,97,CAL,CAL,CAL
1545,1970,AL,CHA,CHW,W,6,162,84.0,56,106,...,187,0.975,Chicago White Sox,Comiskey Park,495355.0,101,102,CHW,CHA,CHA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,2019,NL,SLN,STL,C,1,162,81.0,91,71,...,168,0.989,St. Louis Cardinals,Busch Stadium III,3480393.0,98,97,STL,SLN,SLN
2921,2019,AL,TBA,TBD,E,2,162,81.0,96,66,...,126,0.985,Tampa Bay Rays,Tropicana Field,1178735.0,97,96,TBR,TBA,TBA
2922,2019,AL,TEX,TEX,W,3,162,81.0,78,84,...,143,0.982,Texas Rangers,Globe Life Park in Arlington,2132994.0,111,112,TEX,TEX,TEX
2923,2019,AL,TOR,TOR,E,4,162,81.0,67,95,...,141,0.984,Toronto Blue Jays,Rogers Centre,1750114.0,97,98,TOR,TOR,TOR
2924,2019,NL,WAS,WSN,E,2,162,81.0,93,69,...,111,0.985,Washington Nationals,Nationals Park,2259781.0,106,104,WSN,MON,WAS

In [9]:
# using iloc to subset rows and columns using numbers
tf70.iloc[[2,3,4], [0,1,2,3,4,5,8,9]]

      yearID lgID teamID franchID divID  Rank   W    L
1543    1970   AL    BOS      BOS     E     3  87   75
1544    1970   AL    CAL      ANA     W     3  86   76
1545    1970   AL    CHA      CHW     W     6  56  106

In [15]:
# slicing rows
tf70[:5]

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
1541,1970,NL,ATL,ATL,W,5,162,81.0,76,86,...,118,0.977,Atlanta Braves,Atlanta-Fulton County Stadium,1078848.0,106,106,ATL,ATL,ATL
1542,1970,AL,BAL,BAL,E,1,162,81.0,108,54,...,148,0.981,Baltimore Orioles,Memorial Stadium,1057069.0,101,98,BAL,BAL,BAL
1543,1970,AL,BOS,BOS,E,3,162,81.0,87,75,...,131,0.974,Boston Red Sox,Fenway Park II,1595278.0,108,107,BOS,BOS,BOS
1544,1970,AL,CAL,ANA,W,3,162,81.0,86,76,...,169,0.980,California Angels,Anaheim Stadium,1077741.0,96,97,CAL,CAL,CAL
1545,1970,AL,CHA,CHW,W,6,162,84.0,56,106,...,187,0.975,Chicago White Sox,Comiskey Park,495355.0,101,102,CHW,CHA,CHA

In [16]:
# columns by name
tf70[['yearID', 'name', 'W', 'L']]

      yearID                  name    W    L
1541    1970        Atlanta Braves   76   86
1542    1970     Baltimore Orioles  108   54
1543    1970        Boston Red Sox   87   75
1544    1970     California Angels   86   76
1545    1970     Chicago White Sox   56  106
...      ...                   ...  ...  ...
2920    2019   St. Louis Cardinals   91   71
2921    2019        Tampa Bay Rays   96   66
2922    2019         Texas Rangers   78   84
2923    2019     Toronto Blue Jays   67   95
2924    2019  Washington Nationals   93   69

[1384 rows x 4 columns]

In [18]:
# slicing with a boolean array
tf70[tf70['W'] >= 90]

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
1542,1970,AL,BAL,BAL,E,1,162,81.0,108,54,...,148,0.981,Baltimore Orioles,Memorial Stadium,1057069.0,101,98,BAL,BAL,BAL
1547,1970,NL,CIN,CIN,W,1,162,81.0,102,60,...,173,0.976,Cincinnati Reds,Crosley Field/Riverfront Stadium,1803568.0,104,103,CIN,CIN,CIN
1553,1970,AL,MIN,MIN,W,1,162,81.0,98,64,...,130,0.980,Minnesota Twins,Metropolitan Stadium,1261887.0,103,102,MIN,MIN,MIN
1556,1970,AL,NYA,NYY,E,2,163,81.0,93,69,...,146,0.980,New York Yankees,Yankee Stadium I,1136879.0,95,95,NYY,NYA,NYA
1566,1971,AL,BAL,BAL,E,1,158,77.0,101,57,...,148,0.981,Baltimore Orioles,Memorial Stadium,1023037.0,99,97,BAL,BAL,BAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2912,2019,AL,NYA,NYY,E,1,162,81.0,103,59,...,135,0.982,New York Yankees,Yankee Stadium III,3304404.0,98,96,NYY,NYA,NYA
2914,2019,AL,OAK,OAK,W,2,162,81.0,97,65,...,122,0.987,Oakland Athletics,O.co Coliseum,1662211.0,95,93,OAK,OAK,OAK
2920,2019,NL,SLN,STL,C,1,162,81.0,91,71,...,168,0.989,St. Louis Cardinals,Busch Stadium III,3480393.0,98,97,STL,SLN,SLN
2921,2019,AL,TBA,TBD,E,2,162,81.0,96,66,...,126,0.985,Tampa Bay Rays,Tropicana Field,1178735.0,97,96,TBR,TBA,TBA
2924,2019,NL,WAS,WSN,E,2,162,81.0,93,69,...,111,0.985,Washington Nationals,Nationals Park,2259781.0,106,104,WSN,MON,WAS

In [23]:
# all rows, select columns
tf70.loc[:, ['yearID', 'teamID', 'W', 'L']]

      yearID teamID    W    L
1541    1970    ATL   76   86
1542    1970    BAL  108   54
1543    1970    BOS   87   75
1544    1970    CAL   86   76
1545    1970    CHA   56  106
...      ...    ...  ...  ...
2920    2019    SLN   91   71
2921    2019    TBA   96   66
2922    2019    TEX   78   84
2923    2019    TOR   67   95
2924    2019    WAS   93   69

[1384 rows x 4 columns]

In [24]:
tf70.loc[1543, ['yearID', 'teamID', 'W', 'L']]

yearID    1970
teamID     BOS
W           87
L           75
Name: 1543, dtype: object

In [25]:
tf70.loc[[1543, 1544, 1545], ['yearID', 'teamID', 'W', 'L']]

      yearID teamID   W    L
1543    1970    BOS  87   75
1544    1970    CAL  86   76
1545    1970    CHA  56  106

In [34]:
# arithmetic between data frame and series
frame = pd.DataFrame(np.arange(12.).reshape((4, 3)),
                     columns=list('bde'),
                     index=['Utah','Ohio','Texas','Oregon'])

In [35]:
frame

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [36]:
series = frame.iloc[0]

In [37]:
series

b    0.0
d    1.0
e    2.0
Name: Utah, dtype: float64

In [38]:
frame - series

          b    d    e
Utah    0.0  0.0  0.0
Ohio    3.0  3.0  3.0
Texas   6.0  6.0  6.0
Oregon  9.0  9.0  9.0

In [39]:
series2 = pd.Series(range(3), index=['b', 'e', 'f'])

In [40]:
series2

b    0
e    1
f    2
dtype: int64

In [42]:
frame

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [43]:
frame + series2

          b   d     e   f
Utah    0.0 NaN   3.0 NaN
Ohio    3.0 NaN   6.0 NaN
Texas   6.0 NaN   9.0 NaN
Oregon  9.0 NaN  12.0 NaN

In [ ]:
# broadcast the operation over the columns,