In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'],
                 index=['excellant', 'excellant', 'excellant', 'good', 'good', 'good',
                       'ok', 'ok', 'ok', 'poor', 'poor'],
                 columns=['Grades'])
df

          Grades
excellant     A+
excellant      A
excellant     A-
good          B+
good           B
good          B-
ok            C+
ok             C
ok            C-
poor          D+
poor           D

In [3]:
# the data type is object because we set strings
df.dtypes

Grades    object
dtype: object

In [4]:
# we can tell pandas to change the type to category
df['Grades'].astype('category')

excellant    A+
excellant     A
excellant    A-
good         B+
good          B
good         B-
ok           C+
ok            C
ok           C-
poor         D+
poor          D
Name: Grades, dtype: category
Categories (11, object): ['A', 'A+', 'A-', 'B', ..., 'C+', 'C-', 'D', 'D+']

In [8]:
# pandas has chosen an order for us
# we can specify the order
my_categories = pd.CategoricalDtype(categories=['D','D+','C-','C','C+','B-','B','B+','A-','A','A+'],
                                   ordered=True)
# pass this to the astype() function
grades = df['Grades'].astype(my_categories)
grades.head()

excellant    A+
excellant     A
excellant    A-
good         B+
good          B
Name: Grades, dtype: category
Categories (11, object): ['D' < 'D+' < 'C-' < 'C' ... 'B+' < 'A-' < 'A' < 'A+']

In [9]:
# Grades that are better than 'C' - not what we intended - this is with the original unordered categories
df[df['Grades'] > 'C']

     Grades
ok       C+
ok       C-
poor     D+
poor      D

In [10]:
grades[grades > 'C']

excellant    A+
excellant     A
excellant    A-
good         B+
good          B
good         B-
ok           C+
Name: Grades, dtype: category
Categories (11, object): ['D' < 'D+' < 'C-' < 'C' ... 'B+' < 'A-' < 'A' < 'A+']

In [ ]:
# converting something that is either interval or ratio scale to categorical
# pandas has a cut() function

import numpy as np

# lets use census data
df = pd.read_csv('datasets/census.csv')

# county level only
df = df[df['SUMLEV'] == 50]

#